/* * {border:1px solid red} */

/* START General Styling */

.nav-links {
	text-align: center;
}

.blog-header {
	text-align: center;
}

.error {
	color:red;
}

/* END General Styling */


/* START User Signup Styling */



/* END User Signup Styling */