/* {border:1px solid red} */
h4 {
    margin-bottom:.1em;
}
body {
    padding-top:.5em;
    max-width: 800px;
    margin: 0 auto;
    padding-left:1em;
    padding-right:1em;
    background-color: #76B4BE
}

.main-project-bar {
    max-width:75%;
    margin: 0 auto;
    display:flex;
    border-radius: 10px 10px 10px 10px;
    background-color:white;
    border: solid #2A829F 2px;
    padding-top:2%;
    padding-bottom:2%;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
}

.project-title {
    font-size:2.5em;
    display:flex;
    width:100%;
    align-self: center;
    padding-left:.7em;
    text-decoration: none;
    color:black;
}

.project-title:hover {
    text-decoration: underline;
}

.toolbox {
    margin-top:.5em;
    padding:.5em;
}

.toolbox a {
    border-radius: 10px 10px 10px 10px;
    border: #2A829F 2px solid;
    margin-right:.25em;
    background-color:white;
    padding:.5em;
    text-decoration: none;
    color:black;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
}

.toolbox a:hover {
    text-decoration:underline;
}

.comments {
}

.comments p{
    margin-top:0;
}

.comment-header {
    text-align:center;
}

.single-comment {
    padding-top:.5em;
    border: 1px #2A829F;
    border-style: solid none none none;
}
.divider {
    border: 2px #2A829F;
    border-style: solid none none none;
}
.panel-style { 
    width: inherit;
    background-color: white;
    margin:.5em;
    border-radius: 10px 10px 10px 10px;
    border: #2A829F 2px solid;
    padding:1em;
    -webkit-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 11px -4px rgba(0,0,0,0.75);
}

.panel-style textarea {
    width:100%;

}
.danger-zone {
    width:100%;
}

.danger-zone button {
    color:#ff0000;
}

.login-area {
    padding:1em;
    text-align:right;
    width:30%;
}

.login-link {
    text-decoration: none;
    color:black;
}

.login-link:hover {
    text-decoration: underline;
}

.blog-header {
}


.article-heading {
    display:flex;
    align-items:center;
    justify-content: center;
}

.article-title {
    width:70%;
    display:flex;
}

.article-title h2 {
    color:black;
    padding-left:.5em;
    margin-bottom:0;
}

.article-title a {
    text-decoration: none;
}
.article-title a:hover {
    text-decoration: underline;

}
.article-date {
    text-align:right;
    padding-right:.5em;
    width:30%;
}

.article-date h4{
    margin-bottom:0;
    color:black;
}

.article-content {
    border: 2px #2A829F;
    border-style: solid none none none;
    padding-left:1em;
    padding-right:1em;
}

.article-footer {
    border: 1px #2A829F;
    border-style: solid none none none;
    width:100%;
    display:flex;
}

.comment-footer {
    border:1px #2a829f;
    border-style: solid none none none;

}

.like-group {
    justify-content: space-between;
    width:100%;
    padding-top:.25em;
}
.post-likes {
    color:grey;
    font-size:.8em;
    padding-left:.5em;
}

.post-likes button {
    margin-top:.5em;
}

.disabled button{
    color:grey;
    cursor: not-allowed;
}
.add-comment: {
    text-align:right;
}
.add-comment button{
    padding:.5em;
    margin:.5em;
}
textarea {
    width:50%;
    height:5em;
}
.error {
    color:red;
}

.label {
    text-align: right
}