<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>Marsh Blog</title>
	</head>

	<body>
		<div class="main-project-bar">
			<a href="/blog" class="project-title">
				Marsh Blog
			</a>
<!--
			<div class="login-area">

						(<a class="login-link" href="/logout">
							logout
						</a>)

					<a class="login-link" href="/login">
						login
					</a>

					|
					<a class="login-link" href="/signup">
						signup
					</a>
-->
			</div>
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>
