<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>Marsh Blog</title>
	</head>

	<body>
		<div class="main-project-bar">
			<a href="/" class="project-title">
				Marsh Blog
			</a>

		<div class="login-area">

					{% if isLogged %}
						{{ isLogged }}
						<a href="/logout">(Logout)</a>

					{% else %}
					
					<a href="/signup" href="/signup">
						Sign Up
					</a>
					|
					<a href="/login">
						Sign In
					</a>

					{% endif %}

			</div>
		</div>
<!-- dynamic nav bar -->
		{%if isLogged %}
			<div class="toolbar-nav">
				<a href="/newpost">New post</a>
			</div>
		{% endif %}
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>
