{% extends "base.html" %}

{% block content %}
	{% for article in articles %}
		<div class="article">
			<div class="article-heading">
				<div class="article-title">
					<a href={{ "/posts/" ~ article.key().id() }}>
						<h2>
							{{ article.title }}
						</h2>
					</a>
				</div>
				<div class="article-date">
					<h4>
						{{ article.created.strftime("%b %d, %Y") }} by {{ article.user }}
					</h4>
				</div>
			</div>

			<div class="article-content">
				<p>
				{{ article.content | safe }}
				</p>
			</div>
		</div>
  <div class="article-footer">
    <h4>
      <form action="/like/{{ article.key().id() }}">
      
      	{% if isLogged != article.user %}
      	        <button>like</button>
 		{% endif %}

        {{ article.likes }} people have liked this post
      </form>
    <h4>
  </div>
	{% endfor %}
{% endblock %}
