{% extends "base.html" %}

{% block content %}
<!-- dynamic nav bar -->
		{%if isLogged %}
			<div class="toolbox">
				<form action="/newpost">
					<button>New post</button>
				</form>
			</div>
		{% endif %}
	{% for article in articles %}
		<div class="panel-style">
			<div class="panel-heading">
				<div class="panel-title">
					<a href={{ "/posts/" ~ article.key().id() }}>
						<h2>
							{{ article.title }}
						</h2>
					</a>
				</div>
				<div class="panel-date">
					<h4>
						{{ article.created.strftime("%b %d, %Y") }} by {{ article.user }}
					</h4>
				</div>
			</div>

			<div class="panel-content">
				<p>
					{{ article.content | safe }}
				</p>
			</div>

			<div class="panel-footer">
						<div class="like-group">
		 					<div class="post-likes">
		 						{% if article.likes == 0 %}
		 							This post has no likes.
		        				{% else %}
		        					This post has {{ article.likes }} likes.
		        				{% endif %}
								{% if isLogged != article.user %}
							      	<form action="/like/{{ article.key().id() }}">
			      	       				<button>
			      	       					<div class="heart">
			      	       						&hearts;
			      	       					</div>
			      	       					like
			      	       				</button>
				      				</form>
				      			{% else %}
				      				<div class="disabled">
							      		<form action="/like/{{ article.key().id() }}">
			      	       					<button title="Can't like your own post." disabled>
			      	       					<div class="heart">
			      	       						&hearts;
			      	       					</div>
			      	       						like
			      	       					</button>
				      					</form>
				      				</div>
		 						{% endif %}
		        			</div>
						</div>

	        			{% if isLogged %}
		        			<div class="add-comment">
		        				<form action="/posts/{{ article.key().id() }}/addcomment">
		        					<button>Write a comment</button>
		        				</form>
		        			</div>
		        		{% endif %}
		        		




	  		</div>
		</div>

	{% endfor %}
{% endblock %}
