{% extends "base.html" %}

{% block content %}
<!-- dynamic nav bar -->
		{%if isLogged %}
			<div class="toolbox">
				<a href="/newpost">New post</a>
			</div>
		{% endif %}
	{% for article in articles %}
		<div class="panel-style">
			<div class="article-heading">
				<div class="article-title">
					<a href={{ "/posts/" ~ article.key().id() }}>
						<h2>
							{{ article.title }}
						</h2>
					</a>
				</div>
				<div class="article-date">
					<h4>
						{{ article.created.strftime("%b %d, %Y") }} by {{ article.user }}
					</h4>
				</div>
			</div>

			<div class="article-content">
				<p>
					{{ article.content | safe }}
				</p>
			</div>

			<div class="article-footer">
						<div class="like-group">
		 					<div class="post-likes">
		        				This post has {{ article.likes }} likes
								{% if isLogged != article.user %}
							      	<form action="/like/{{ article.key().id() }}">
			      	       				<button>&#x2661 like</button>
				      				</form>
		 						{% endif %}
		        			</div>
						</div>

	        			{% if isLogged %}
		        			<div class="add-comment">
		        				<form action="/posts/{{ article.key().id() }}/addcomment">
		        					<button>Write a comment</button>
		        				</form>
		        			</div>
		        		{% endif %}
		        		




	  		</div>
		</div>

	{% endfor %}
{% endblock %}
