{% extends "base.html" %}
	{% block content %}
		<div class="toolbox">
 			<form action="/">
      			<button>
      				Return to Blog
      			</button>
    		</form>	
			
			<form action="/delete/{{ article.key().id() }}" method="post" onsubmit="return confirm('Are you sure you want to delete this post?');">
				<button id="delete" type="submit">
					Delete This Post
				</button>
			</form>
  		</div>

		<div class="panel-style">
			<h2>Edit Post</h2>
				<form method="post">
						<input type="text" name="title" value="{{ article.title }}">
						<br>
						<textarea name="content">{{ article.content }}</textarea>

					<div class="error">
						{{ error }}
					</div>

					<input type="submit">
				</form>
			<br>
			<br>

		</div>
{% endblock %}