{% extends "base.html" %}

{% block content %}

    {% if isLoggedIn %}
        <div class="toolbox">
            <form action="/">
                <button>
                    Home
                </button>
            </form>
            <form action="/" onsubmit="return confirm('Are you sure you want to cancel creating this new post? You will lose all text you have entered.');">
                <button id="cancel" type="submit">
                    Cancel
                </button>
            </form>

        </div>
    {% endif %}

    <div class="panel-style">
        <h2>
            New Post
        </h2>

        <form method="post">
            <label>
                <input type="text" name="subject" value="{{title}}" placeholder="Enter a title..." autofocus>
            </label>
            <br>
            <label>
                <textarea name="content" placeholder="Write something...">{{content}}</textarea>
            </label>

            <div class="error">
                {{error}}
            </div>

            <button type="submit">
                Submit
            </button>
        </form>
    </div>

{% endblock %}
