{% extends "base.html" %}

{% block content %}

    {% if isLogged %}
        <div class="toolbox">
            <form action="/">
                <button>
                    Return to Blog
                </button>
            </form>
        </div>
    {% endif %}

    <div class="panel-style">
        <h2>
            New Post
        </h2>

        <form method="post">
            <label>
                <input type="text" name="subject" value="{{title}}" placeholder="Enter a title..." autofocus>
            </label>
            <br>
            <label>
                <textarea name="content" placeholder="Write something...">{{content}}</textarea>
            </label>

            <div class="error">
                {{error}}
            </div>

            <button type="submit">
                Submit
            </button>
        </form>
    </div>

{% endblock %}
