{% extends "base.html" %}

{% block content %}
	{% if post_tool.user_id == user.key().id() %} <!-- check if author and render edit button -->
		<a method="get" href="/blog/editpost/{{post_tool.key().id()}}">Edit Post</a>
	{% endif %}
{{ post_tool.render() | safe }}
	{% if post_tool.user_id != user.key().id() %} <!-- if post author is currently viewing post, don't render commenting button -->
		<a href="/blog/{{post_tool.key().id()}}/addcomment/{{user.key().id()}}">
			<div class="post__comment">Leave a comment
			</div>
		</a>
	{% endif %}
------
<h3>==== Comments ====</h3>
<h1>
 <!-- check if author and render edit button -->
{% for comment in comments %}

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{comment.subject}}
				{% for c in comments %}
            <blockquote>
                <a href="/blog/deletecomment/{{post_tool.key().id()}}/{{c.comkey().id()}}">Delete</a>
                <a class="comment-edit btn btn-primary pull-right" href="/blog/editcomment/{{post_tool.key().id()}}/{{c.key().id()}}">Edit</a>
                <p>{{ c.comment }}</p>
                <footer>{{ c.getUserName() }}</footer>
            </blockquote>
            {% endfor %}
                <a href="/blog/editcomment/{{comment.key().id()}}">
                  edit
                </a>
              </h3>
            </div>
            <div class="panel-body">
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

	{% for c in comments %}
		<h4>{{c.comment_content}}</h4>
		<h5>-{{c.comment_owner_text}}</h5>
		----------------------------------------
	{% endfor%}


</h1>

{% endblock %}