{% extends "base.html" %}

{% block content %}
	{% if post_tool.user_id == user.key().id() %} <!-- check if author and render edit button -->
		<a method="get" href="/blog/editpost/{{post_tool.key().id()}}">Edit Post</a>
	{% endif %}
{{ post_tool.render() | safe }}
	{% if post_tool.user_id != user.key().id() %} <!-- if post author is currently viewing post, don't render commenting button -->
		<a href="/blog/{{post_tool.key().id()}}/addcomment/{{user.key().id()}}">
			<div class="post__comment">Leave a comment
			</div>
		</a>
	{% endif %}
------
<h3>==== Comments ====</h3>
<h1>
 <!-- check if author and render edit button -->

	{% for comment in comments %}
		<h4>{{comment.comment_content}}</h4>
		<h5>-{{comment.comment_owner_text}}</h5>
		{% if user and user.key().id() == comment.comment_owner %}

		<form action="/comment/delete/{{ post_tool.key().id() }}/{{ comment.key().id() }}" method="post" onsubmit="return confirm('Are you sure you want to delete this comment?');">
	<button type="submit">Delete This Comment</button>
	<br>
		----------------------------------------
	{% endif %}
	{% endfor%}


</h1>

{% endblock %}