<div class="article">
  <div class="article-heading">
    <div class="article-title">
      <a method="get" href="/blog/{{renderpost.key().id()}}">
        <h2>
          {{ renderpost.subject }}
        </h2>
      </a>
    </div>

    <div class="article-date">
      <h4>
        author: {{ renderpost.fetchUserName() }}
      </h4>
      {{ renderpost.created.strftime("%b %d, %Y") }}
    </div>
  </div>

  <div class="article-content">
    {{renderpost._render_text | safe}}
  </div>
</form>
</div>
number of likes for this post: {{ renderpost.likes }}
<form action="/blog/like/{{renderpost.key().id()}}" method="post">
  <button>like</button>
</form>
