{% extends "base.html" %}

{% block content %}

  <div class="toolbox">

    <a href="/">< Return to blog</a>

    {% if isLogged == article.user %}
      <a href="{{ "/editpost/" ~ article.key().id() }}">Edit This Post</a>
    {% endif %}

  </div>

  <div class="panel-style">
    <div class="article-heading">
      <div class="article-title">
        <a method="get" href="/posts/{{ article.key().id() }}">
          <h2>
            {{ article.title }} 
          </h2>

        </a>
      </div>

      <div class="article-date">
          <h4>
            {{ article.created.strftime("%b %d, %Y") }} by {{ article.user }}
          </h4>
      </div>

    </div>

    <div class="article-content">
      <p>
        {{ article.content | safe }}
      </p>
    </div>

  </form>      
<div class="comment-header">
  <h4> --- Comments --- </h4>
</div>
    <div class="comments">
        <div class="panel-outline">
        {% for commentpoll in comments %} 
          <h4>{{ commentpoll.user }}</h4>
          <div class="single-comment">
            <i>
              {{ commentpoll.content }}
            </i>
          <br>
          </div>
        {% endfor %}
    </div>
  </div>


  </div>

{% endblock %}
  </div>

