{% extends "base.html" %}
{% block content %}

<div class="panel-style">
	<h2>
		Sign Up Form
	</h2>
	<form method="post">
		<input type="text" name="username" value="{{user}}" placeholder="Username">
		<span class="error">
			{{user_error}}
		</span>
		<br>
		<input type="password" name="password" value="" placeholder="Password">
		<span class="error">
			{{pass_error}}
		</span>
		<br>
		<input type="password" name="verify" value="" placeholder="Verify Password">
		<span class="error">
			{{pass2_error}}
		</span>
		<br>
		<input type="text" name="email" value="{{email}}" placeholder="Email">
		<span class="erorr">
			{{email_error}}
		</span>
		<br>
		<button type="submit">Submit</button>
	</form>
</div>
{% endblock %}