{% extends "base.html" %} <!-- This instructs Jinja2 to take base.html and then add this file to it for a unified page -->

{% block content %}
	<form method="post">
		<h2>Sign up page</h2>
		<span>User Name</span>
		<input type="text" name="username" value="{{username}}">
		<label class="error">
			{{error_username}}
		</label>
		<br>
		<span>Password</span>
		<input type="password" name="password" value="">
		<label class="error">
			{{error_password}}
		</label>
		<br>
		<span>Verify Password</span>
		<input type="password" name="verify" value="">
		<label class="error">
			{{error_verify}}
		</label>
		<br>
		<span>Email (Optional)</span>
		<input type="text" name="email" value="{{email}}">
		<label class="error">
			{{error_email}}
		</label>
		<br>
		<input type="submit">
	</form>

{% endblock %}